<template>
  <base-card>
  <li>
          <header>
              <h3>{{title}}</h3>
              <base-button @click="removeResource(id)" >Delete</base-button>
          </header>
      <p>{{description}}</p>
      <nav>
          <a :href="link" target="_blank">View Resource</a>
      </nav>

  </li>
  </base-card>
</template>

<script>
import BaseCard from "@/components/UI/BaseCard";
import BaseButton from "@/components/UI/BaseButton";
export default {
  components: {BaseButton, BaseCard},
  props:['id','title' , 'description' , 'link' ],
  inject : ['removeResource']
  // methods :{
  //   remove(id){
  //     console.log(id);
  //   }
  // }
}

</script>

<style scoped>
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav a{
  color: #fff;
  text-decoration: none;
}


</style>