<template>

    <learning-resource
        v-for="res in resource"
        :key="res.id"
        :id="res.id"
        :title="res.title"
        :description="res.description"
        :link="res.link"
    ></learning-resource>

</template>

<script>
import LearningResource from "./LearningResource";
export default {
inject: ['resource'],
  components : {
    LearningResource
  }
}
</script>

<style scoped>

</style>