<template>
  <base-card>
    <base-button @click="setResourceTab('store-resource')" :mode="storeResButtonMode">Store Resource</base-button>
    <base-button @click="setResourceTab('add-resource')" :mode="addResButtonMode">Add Resource</base-button>
  </base-card>
  <component :is="selectTab"></component>
</template>

<script>

import  StoreResource from './StoreResource';
import  AddResource from './AddResource';
import BaseCard from "@/components/UI/BaseCard";
import BaseButton from "@/components/UI/BaseButton";

export default {
  components: {BaseButton, BaseCard , StoreResource , AddResource},
  data(){
    return {
      selectTab : 'store-resource',
      StoreResource: [
        {
          id: "Offical-Guied",
          title: "Offical Guied",
          description: "The Offical Vue Documation",
          link: "https://vuejs.org",
        },
        {
          id: "Gogle-Guied",
          title: "GOogle Guied",
          description: "The Offical Google Documation",
          link: "https://google.com",
        },
      ],
    }
  },

  provide(){
    return{
        resource : this.StoreResource,
        addResource : this.addResource,
        removeResource : this.removeResource,
    }
  },
  computed: {
    storeResButtonMode(){
      return this.selectTab === 'store-resource' ? null : 'flat';
    },
    addResButtonMode(){
      return this.selectTab === 'add-resource' ? null : 'flat';
    }
  },
  methods : {
    setResourceTab(tab){
      this.selectTab = tab;
    },
    addResource(title, description, link){
      const newResource = {
        id: new Date().toDateString(),
        title : title,
        description : description,
        link : link,
      }
      this.StoreResource.unshift(newResource);
      this.selectTab = 'store-resource';
    },
    removeResource(resId){
      const resIndex = this.StoreResource.findIndex((res) => res.id === resId);
      this.StoreResource.splice(resIndex, 1);
      console.log(this.StoreResource);
    }

  }
}
</script>

<style scoped>

</style>