<template>
  <header>
    <h1>{{title}}</h1>
  </header>
</template>

<script>
export default {
 props : ['title']
}
</script>

<style scoped>
header{
  background: #42b883;
  width: 100%;
  height: 5rem;
  padding-bottom: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}
header h1{
  color: #fff;
}
</style>