<template>
  <the-header title="VUE PROJECT"></the-header>
  <the-resource></the-resource>
</template>

<script>

import TheHeader from   './components/layouts/TheHeader';
import TheResource from   './components/learning-resource/TheResource';
export default {
  components: {
    TheHeader,
    TheResource
  },

};
</script>
