<template>
  <button  :class="mode" >
    <slot></slot>
  </button>
</template>

<script>
export default {
props : [
    'mode'
]
}
</script>

<style scoped>
button {
  background: #fff;
  color: #42b883;;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor : pointer;
  margin-right: 10px;
}

.flat{
background: none;color: #fff;
}


</style>