<template>
<div>
  <slot></slot>
</div>
</template>

<script>
export default {

}
</script>

<style scoped>

div{
  list-style-type: none;
  margin: 15px auto;
  max-width: 40rem;
  padding: 20px;
  border-radius: 12px;
  background: #42b883;
  color: #fff;
}
</style>